/*
    created: 7-nov-2019, 11:31
    author : MaikelNelis
*/
:root{
  --colorOfNintendo:  #e4000f;/*nintendo red*/
  --colorOfXbox     :#0e7a0d;/*Xbox Green*/
}
body{
    background: lightblue;
    font-family: 'Changa', sans-serif;
    font-family: 'Russo One', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Changa', sans-serif;
    font-family: 'Russo One', sans-serif;

    
  }
  
  li {
    float: left;
    font-family: 'Changa', sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #b9d5fd;
  }

  #logo{/*styling voor het logo in de navbar*/
    float: left;
    width: 95px;
    height: 47px;
    background-color: rgb(168, 168, 168);
  }
  .nintendopage{/*speciale styling voor Nintendo*/
    background-color: var(--colorOfNintendo) ;
background: -moz-linear-gradient(90deg, rgba(228,0,15,1) 0%, rgba(117,117,117,1) 35%, rgba(27,255,240,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(228,0,15,1) 0%, rgba(117,117,117,1) 35%, rgba(27,255,240,1) 100%);
background: linear-gradient(90deg, rgba(228,0,15,1) 0%, rgba(117,117,117,1) 35%, rgba(27,255,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4000f",endColorstr="#1bfff0",GradientType=1);
  }
.flavortext
{
  background-color: rgb(156, 156, 156);
}
.flavortext{
  background-color: aliceblue;
}